body {
    font-family: 'Bellota Text', cursive;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

h1, h2 {
    margin: 0;
    font-weight: 700;
}

div.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

div.div {
    width: 50%;
    height: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 1s;
}

div.entrance {
    width: 40%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

svg.loading {
    width: 40%;
    margin: auto;
}

h1.loading {
    text-align: center;
    margin: auto 10%;
}

a {
    text-decoration: none;
}

#ham-menu {
    display: none;
}

label.menu {
    display: block;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 3;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

label.menu:hover {
    cursor: pointer;
}

.ham-menu {
    width: 35vw;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    transform: translate(-110%);
    z-index: 2;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.ham-menu > ul {
    width: 90%;
    margin: 120px 30px 30px;
    padding: 0;
    text-align: left;
}

.ham-menu > ul > li {
    cursor: pointer;
}

#ham-menu:checked ~ div.ham-menu {
    transform: translate(0px);
    visibility: visible;
}

#overlay_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 500ms;
}

#ham-menu:checked ~ div#overlay_menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

[for="ham-menu"] > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
}

.menu-line {
    display: block;
    width: 17px;
    height: 2px;
    margin: 10px 0 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: 500ms;
    transform-origin: right center;
}

[for="ham-menu"] > div > span:nth-child(4),
[for="ham-menu"] > div > span:nth-child(5),
[for="ham-menu"] > div > span:nth-child(6) {
    border-radius: 0 2px 2px 0;
    transform-origin: left center;
}

#ham-menu:checked + label span:nth-child(2),
#ham-menu:checked + label span:nth-child(5) {
    transform: scale(0);
}

#ham-menu:checked + label span:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
}

#ham-menu:checked + label span:nth-child(4) {
    transform: translateY(17px) rotate(-45deg);
}

#ham-menu:checked + label span:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
}

#ham-menu:checked + label span:nth-child(6) {
    transform: translateY(-17px) rotate(45deg);
}

ul {
    width: 90%;
    margin: 30px;
    padding: 0;
    text-align: left;
}

li {
    list-style-type: none;
}

label.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 0 5px;
    margin: 10px;
}

svg.click {
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding-left: 2%;
}

ul.sub-items {
    display: none;
    font-size: 30px;
    padding: 0 20px;
    margin: 0 0 0 20px;
    color: #B48BAF;
}

input#time_table_01:checked ~ label svg,
input#time_table_02:checked ~ label svg,
input#time_table_03:checked ~ label svg,
input#time_table_04:checked ~ label svg {
    transform: matrix(1, 0, 0, -1, 0, 0);
}

input#time_table_01:checked ~ ul.sub-items,
input#time_table_02:checked ~ ul.sub-items,
input#time_table_03:checked ~ ul.sub-items,
input#time_table_04:checked ~ ul.sub-items {
    display: block;
}

li input[type="radio"] {
    display: none;
}

label.time:hover,
ul.sub-items li:hover {
    background: rgba(149, 93, 142, 0.1);
    cursor: pointer;
}

ul.sub-items li {
    padding: 0 5px;
    margin: 10px;
}

div.color {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 35px;
}

div.color h2 {
    margin-right: 20px;
    font-size: 20px;
}

div.color input[type='checkbox'].checkbox {
    display: none;
}

div.color input[type='checkbox'].checkbox + label {
    display: block;
    position: relative;
}

input[type='checkbox'].checkbox + label:after {
    content: "";
    width: 70px;
    height: 35px;
    border-radius: 15px;
    padding: 5px 35px;
}

div.color input[type='checkbox'].checkbox + label:before {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 100px;
    transition: left 100ms ease-in-out;
    position: absolute;
    top: -2px;
    left: 3px;
}

div.color input[type='checkbox'].checkbox:checked + label:before {
    left: 42px;
}

div.overlay {
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

div.overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.modal {
    width: 50%;
    height: 60%;
    padding: 45px 80px;
}

.tab-list {
    display: flex;
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 7%;
}

.tab_selector_label {
    text-align: center;
    width: 50%;
    padding: .4rem .8rem;
}

.tab-list input[type="radio"] {
    display: none;
}

.tab-content div.active {
    display: block;
}

.tab-content div {
    display: none;
}

select {
    display: flex;
    font-family: 'Bellota Text', cursive;
    border-radius: 10px;
    font-size: 28px;
    line-height: 45px;
    width: 100%;
    padding: .4rem .8rem;
    margin: 5% 0;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 24px 21px;
    appearance: none;
}

select.professor_tab {
    margin: 13.4% 0;
}

button.btn {
    font-family: 'Bellota Text', cursive;
    border-radius: 10px;
    font-size: 22px;
    line-height: 45px;
    width: 25%;
    float: right;
}

button.btn:hover,
select:hover {
    cursor: pointer;
}

.container {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    margin: 3% auto 0;
}

.slide {
    height: 65px;
    border-radius: 20px;
    margin: 3vh;
    cursor: pointer;
    flex: 1;
    position: relative;
    transition: all 1000ms ease-out;
    display: flex;
    flex-direction: column;
}

.slide div.professor, .slide div.room, .slide div.groups {
    display: none;
}

.slide div.time_lesson, .slide h2.building {
    padding: 1% 10% 1%;
    display: flex;
    justify-content: space-between;
}

.slide div.time_lesson h2, .slide h2.building {
    font-size: 16px;
}

.slide.active {
    height: 250px;
}

.slide.active div.time_lesson, .slide.active h2.building {
    padding: 3% 3% 2%;
    display: flex;
    justify-content: space-between;
}

.slide.active h2, .slide.active div.time_lesson h2 {
    padding: 0 10px;
    display: flex;
    opacity: 1;
    font-size: 22px;
    transition: opacity 0.3s ease-in 0.4s;
}

.slide.active div.lesson_name {
    margin: 0 auto;
}

.slide.active div.lesson_range {
    margin-right: auto;
}

.slide.active div.professor, .slide.active div.room, .slide.active div.groups {
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
}

.slide.active h2.prof_name, .slide.active h2.room_number, .slide.active h2.group_name, .slide.active h2.groups_name {
    margin-right: auto;
    padding: 0 3%;
}

