body {
    font-family: 'Bellota Text', cursive;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

h1, h2 {
    margin: 0;
    font-weight: 700;
}

div.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

div.div {
    width: 50%;
    height: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    transition: 1s;
}

div.entrance {
    width: 40%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

svg.loading {
    width: 40%;
    margin: auto;
    transform-origin: center center;
    animation: animate 4s infinite steps(12);
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


h1.loading {
    text-align: center;
    margin: auto 10%;
}

a {
    text-decoration: none;
}

#ham-menu {
    display: none;
}

label.menu {
    display: block;
    position: fixed;
    top: 30px;
    left: 30px;
    z-index: 3;
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

label.menu:hover {
    cursor: pointer;
}

.ham-menu {
    width: 35vw;
    height: 100%;
    position: fixed;
    top: 0;
    visibility: hidden;
    transform: translate(-110%);
    z-index: 2;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.ham-menu > ul {
    width: 90%;
    margin: 120px 30px 30px;
    padding: 0;
    text-align: left;
}

.ham-menu > ul > li {
    cursor: pointer;
}

#ham-menu:checked ~ div.ham-menu {
    transform: translate(0px);
    visibility: visible;
}

#overlay_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    display: none;
    transition: 500ms;
}

#ham-menu:checked ~ div#overlay_menu {
    display: block;
    opacity: 1;
    visibility: visible;
}

[for="ham-menu"] > div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
}

.menu-line {
    display: block;
    width: 17px;
    height: 2px;
    margin: 10px 0 5px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    transition: 500ms;
    transform-origin: right center;
}

[for="ham-menu"] > div > span:nth-child(4),
[for="ham-menu"] > div > span:nth-child(5),
[for="ham-menu"] > div > span:nth-child(6) {
    border-radius: 0 2px 2px 0;
    transform-origin: left center;
}

#ham-menu:checked + label span:nth-child(2),
#ham-menu:checked + label span:nth-child(5) {
    transform: scale(0);
}

#ham-menu:checked + label span:nth-child(1) {
    transform: translateY(17px) rotate(45deg);
}

#ham-menu:checked + label span:nth-child(4) {
    transform: translateY(17px) rotate(-45deg);
}

#ham-menu:checked + label span:nth-child(3) {
    transform: translateY(-17px) rotate(-45deg);
}

#ham-menu:checked + label span:nth-child(6) {
    transform: translateY(-17px) rotate(45deg);
}

ul {
    width: 90%;
    margin: 30px;
    padding: 0;
    text-align: left;
}

li {
    list-style-type: none;
}

label.time {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 30px;
    padding: 0 5px;
    margin: 10px;
}

svg.click {
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding-left: 2%;
}

ul.sub-items {
    display: none;
    font-size: 30px;
    padding: 0 20px;
    margin: 0 0 0 20px;
    color: #B48BAF;
}

input#time_table_01:checked ~ label svg,
input#time_table_02:checked ~ label svg,
input#time_table_03:checked ~ label svg,
input#time_table_04:checked ~ label svg {
    transform: matrix(1, 0, 0, -1, 0, 0);
}

input#time_table_01:checked ~ ul.sub-items,
input#time_table_02:checked ~ ul.sub-items,
input#time_table_03:checked ~ ul.sub-items,
input#time_table_04:checked ~ ul.sub-items {
    display: block;
}

li input[type="radio"],
.slide_day .lesson input[type="radio"]{
    display: none;
}

label.time:hover,
ul.sub-items li:hover {
    cursor: pointer;
}

ul.sub-items li {
    padding: 0 5px;
    margin: 10px;
}

div.color {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 35px;
}

div.color h2 {
    margin-right: 20px;
    font-size: 20px;
}

div.color input[type='checkbox'].checkbox {
    display: none;
}

div.color input[type='checkbox'].checkbox + label {
    display: block;
    position: relative;
}

input[type='checkbox'].checkbox + label:after {
    content: "";
    width: 70px;
    height: 35px;
    border-radius: 15px;
    padding: 5px 35px;
}

div.color input[type='checkbox'].checkbox + label:before {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 100px;
    transition: left 100ms ease-in-out;
    position: absolute;
    top: -2px;
    left: 3px;
}

div.color input[type='checkbox'].checkbox:checked + label:before {
    left: 42px;
}

div.overlay {
    z-index: 5;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}

div.overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.modal {
    width: 50%;
    padding: 45px 80px;
}

.tab-list {
    display: flex;
    font-weight: 700;
    font-size: 32px;
    line-height: 45px;
    margin-bottom: 7%;
}

.tab_selector_label {
    text-align: center;
    width: 50%;
    padding: .4rem .8rem;
}

.tab-list input[type="radio"] {
    display: none;
}

.tab-content div.active {
    display: block;
}

.tab-content div {
    display: none;
}

select {
    display: flex;
    font-family: 'Bellota Text', cursive;
    border-radius: 10px;
    font-size: 28px;
    line-height: 45px;
    width: 100%;
    padding: .4rem .8rem;
    margin: 5% 0;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 24px 21px;
    appearance: none;
}

select.professor_tab {
    margin: 13.4% 0;
}

button.btn {
    font-family: 'Bellota Text', cursive;
    border-radius: 10px;
    font-size: 22px;
    line-height: 45px;
    width: 25%;
    float: right;
}

button.btn:hover,
select:hover {
    cursor: pointer;
}

.container {
    width: 80vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 20px;
    margin: 3% auto 0;
}

.container_week {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin: 3% 10px 0 110px;
}

.slide {
    height: 65px;
    border-radius: 20px;
    margin: 3vh;
    cursor: pointer;
    flex: 1;
    position: relative;
    transition: all 1000ms ease-out;
    display: flex;
    flex-direction: column;
}

.slide_day {
    width: 200px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    transition: all 1000ms ease-out;
    display: flex;
    flex-direction: column;
    min-height: 550px;
    max-height: 550px;
}

.slide div.professor,
.slide div.rooms,
.slide div.groups,
.slide div.room,
.slide_day svg,
.slide_day .lesson_name,
.slide_day .prof_name,
.slide_day .rooms,
.slide_day .room {
    display: none;
}

.slide div.time_lesson, .slide h2.building,
.container_month__list .slide_month_day .time_lesson{
    padding: 30px;
    display: flex;
    justify-content: space-between;
}

.slide div.time_lesson h2, .slide h2.building {
    font-size: 16px;
}

.slide.active {
    height: 250px;
}

.slide_day.active {
    width: 400px;
    max-height: 2600px;
    padding: 10px 20px;
}

.slide_day.active .lesson{
    padding: 20px 0 30px;
}


.slide_day div.time_lesson {
    display: flex;
    justify-content: center;
    min-height: 52px;
}

.slide_day div.time_lesson .lesson_range h2{
    display: none;
}

.slide_day.active div.time_lesson .lesson_range h2 {
    display: flex;
}

.slide_day.active .lesson.empty, .empty-holder.empty  {
    display: none;
}


.empty-holder.dn  {
    display: none;
}


.slide.active div.time_lesson,
.slide.active h2.building,
.slide_day.active .time_lesson,
.slide_day.active .lesson_name,
.slide_day.active .room,
.slide_day.active .prof_name{
    padding: 3% 3% 0;
    display: flex;
    justify-content: space-between;
}

.slide.active h2,
.slide.active div.time_lesson h2 {
    padding: 0 10px;
    display: flex;
    opacity: 1;
    font-size: 22px;
    transition: opacity 0.3s ease-in 0.4s;
}

.slide.active div.lesson_name {
    margin: 0 auto;
}

.slide.active div.lesson_range {
    margin-right: auto;
}

.slide.active div.professor,
.slide.active div.room,
.slide.active div.rooms,
.slide.active div.groups {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2% 3%;
}

.slide.active h2.prof_name,
.slide.active h2.room_number,
.slide.active h2.group_name,
.slide.active h2.groups_name,
.slide.active h2.room_number_used {
    margin-right: auto;
    padding: 1% 3%;
}

.slide.active h2.room_number_used {
    border-radius: 10px;
    margin: 5px auto 0 0;
}

.container > .date {
    margin: 0 3vh 40px;
}

.slide_day.active .date_week {
    display: flex;
    justify-content: space-around;
}

.slide_day.active svg {
    display: flex;
    width: 90%;
    margin: 15px auto;
}

.slide_day.active h2.lesson_name,
.slide_day.active h2.prof_name{
    display: flex;
}

.slide_day.active div.room {
    display: flex;
    justify-content: flex-start;
}

.slide_day.active div.room .room_number{
    margin-left: 30px;
}

.slide_day .time_lesson {
    padding: 10px;
}

.slide_day .date_week {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px 0 30px;
}

.slide_day .date_week .day_week_name {
    text-transform: capitalize;
}

.empty-holder {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.slide_day .empty-holder svg{
    width: 90%;
    display: flex;
    margin: 20px auto;
}

.empty-holder svg{
    width: 30%;
    display: flex;
    margin: 20px auto;
}

.slide_day.active svg.click {
    display: flex;
    margin: 5px 0 0;
    width: 10%;
}

.slide_day.active .rooms{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px 0;
    padding: 0 3%;

}

.slide_day.active .rooms .lesson_name{
    padding: 0;
}

.slide_day.active .lesson .rooms svg,
.slide .rooms svg{
    margin: 0;
    width: 30px;
}

.container_month__calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin: 3% 10px 0 110px;
    width: 90%;
    padding-bottom: 100px;
}

.container_month__list {
    display: flex;
    margin: 3% 10px 0 110px;
    width: 90%;
    padding-bottom: 100px;
    flex-direction: column;
}

.container_month__calendar .slide_month_day{
    height: 250px;
}

.container_month__list .slide_month_day {
    width: 100%;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    position: relative;
    /*transition: all 1000ms ease-out;*/
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.container_month__calendar.Sunday .slide_month_day:first-child{
    grid-column: 7/8;
}

.container_month__calendar.Monday{
    grid-column: 1/2;
}

.container_month__calendar.Tuesday{
    grid-column: 2/3;
}

.container_month__calendar.Wednesday {
    grid-column: 3/4;
}

.container_month__calendar.Thursday{
    grid-column: 4/5;
}

.container_month__calendar.Friday{
    grid-column: 5/6;
}

.container_month__calendar.Saturday .slide_month_day:first-child{
    grid-column: 6/7;
}

.tools_block {
    display: flex;
    margin: 3% 25px 0 130px;
    justify-content: space-between;
    align-items: center;
}

.container_month__list .slide_month_day .lesson{
    border-bottom: 1px dashed #d1ecff;
    padding: 20px 0;
}

.container_month__list .slide_month_day .lesson:first-child{
    padding: 10px 0;
}

.container_month__list .slide_month_day .time_lesson,
.container_month__list .slide_month_day .professor,
.container_month__list .slide_month_day .room{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
}

.container_month__list .slide_month_day .date{
    padding: 30px 15px 20px;
    text-transform: capitalize;
}

.container_month__list .slide_month_day .professor,
.container_month__list .slide_month_day .room {
    display: flex;
    justify-content: left;
}

.container_month__list .slide_month_day .professor .prof_name,
.container_month__list .slide_month_day .room_number {
    padding-left: 10px;
}

.container_month__list .slide_month_day .professor{
    padding-bottom: 0;
}

.container_month__list .slide_month_day .lesson_range{
    margin: 0 auto 0 20px;
}

.container_month__list .slide_month_day .lesson-list__empty {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.container_month__list .slide_month_day .lesson-list__empty svg {
    width: 200px;
    margin: 20px 0;
}

.tools_block .container_month_name {
    text-transform: capitalize;
}

.tools_block svg{
    width: 60px;
    stroke-width: 1;
    cursor: pointer;
}

.tools_block svg.left_arrow{
    margin-left: auto;
}


.tools_block .now_day {
    border-radius: 10px;
    height: 45px;
    width: 100px;
    font-size: 19px;
    margin: 0 10px;
}