body{
    font-family: 'Bellota Text', cursive;
}

body.light{
    background: #FCF6FB;
}

body.dark{
    background: #2E1B2C;
}

h1, h2{
    margin: 0;
    font-weight: 700;
}

div.parent{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

div.div{
    width: 50%;
    height: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    background: #FCF6FB;
    box-shadow: 10px 20px 50px 10px rgba(149, 93, 142, 0.5);
    color: #955D8E;
}

div.entrance{
    width: 40%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

svg.loading{
    width: 40%;
    margin: auto;
}

h1.loading{
    text-align: center;
    margin: auto 10%;
}

ul{
    width: 90%;
    margin: 30px;
    padding: 0;
    text-align: left;
}

li{
    list-style-type: none;
}

label.time{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 36px;
    padding: 0 5px;
}

svg{
    transform: matrix(1, 0, 0, 1, 0, 0);
    padding-left: 2%;
    stroke: #955D8E;
}

ul.sub-items{
    display: none;
    font-size: 34px;
    padding: 0 20px;
    margin: 0 0 0 20px;
    color: #B48BAF;
}

input#time_table_01:checked ~ label svg,
input#time_table_02:checked ~ label svg,
input#time_table_03:checked ~ label svg,
input#time_table_04:checked ~ label svg{
    transform: matrix(1, 0, 0, -1, 0, 0);
}

input#time_table_01:checked ~ ul.sub-items,
input#time_table_02:checked ~ ul.sub-items,
input#time_table_03:checked ~ ul.sub-items,
input#time_table_04:checked ~ ul.sub-items{
    display: block;
}

li input[type="checkbox"] {
    display: none;
}

label.time:hover,
ul.sub-items li:hover {
    background: rgba(149, 93, 142, 0.1);
}

ul.sub-items li{
    padding: 0 5px;
}

div.color{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 35px;
}

div.color h2{
    margin-right: 20px;
}

div.color input[type='checkbox'].checkbox {
    display: none;
}

div.color input[type='checkbox'].checkbox + label {
    display: block;
    position: relative;
}

input[type='checkbox'].checkbox + label:after {
    content: "";
    width: 70px;
    height: 35px;
    border-radius: 15px;
    border: 1px solid #955D8E;
    padding: 5px 35px;
}

div.color input[type='checkbox'].checkbox + label:before {
    display: block;
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 100px;
    background: #955D8E;
    transition: left 100ms ease-in-out;
    position: absolute;
    top: -2px;
    left: 3px;
}

div.color input[type='checkbox'].checkbox:checked + label:before {
    left: 42px;
    background: #646464;
    box-shadow: 0 0 12px rgba(252, 246, 251, 0.5);
}